////
/// Breakpoints
///
/// This should match most cases but feel free to change these values to match your needs.
///
/// @group Variables
/// @version 0.1.0
////

$screen-xs: 291px;
$screen-sm: 683px;
$screen-md: 960px;
$screen-lg: 1382px;
$screen-xl: 1936px;
