////
/// Scales
/// @group Variables
/// @version 0.1.0
////

$minor-second:   16/15;           // 1.067
$major-second:   9/8;             // 1.125
$minor-third:    6/5;             // 1.2
$major-third:    5/4;             // 1.25
$perfect-fourth: 4/3;             // 1.333
$aug-fourth:     1.41421356237/1; // sqrt(2)
$perfect-fifth:  3/2;             // 1.5
$minor-sixth:    8/5;             // 1.6
$golden-ratio:   1.61803398875/1; // (1+sqrt(5)/2)
$major-sixth:    5/3;             // 1.667
$minor-seventh:  16/9;            // 1.778
$major-seventh:  15/8;            // 1.875
$octave:         2/1;             // 2
$major-tenth:    5/2;             // 2.5
$major-eleventh: 8/3;             // 2.667
$major-twelfth:  3/1;             // 3
$double-octave:  4/1;             // 4
