////
/// Shadows
///
/// @group   Variables
/// @version 0.1.0
/// @link    https://github.com/TangoMan75/Stripped
////

$glow:       0 0 8px $glow-color;
$shadow-kbd: 1px 2px 5px rgba(0, 0, 0, .25);
$shadow:     2px 2px 2px rgba(0, 0, 0, 0.075);
