////
/// Margin scale
///
/// Sets global margins values
///
/// @group   Mixins
/// @version 0.1.0
/// @link    https://github.com/TangoMan75/Stripped
////

@mixin margin-scale($margin-base, $scale) {
	$margin-md:  $margin-base !global;
	$margin-sm:  $margin-md / $scale !global;
	$margin-xs:  $margin-sm / $scale !global;
	$margin-xxs: $margin-xs / $scale !global;
	$margin-lg:  $margin-md * $scale !global;
	$margin-xl:  $margin-lg * $scale !global;
	$margin-xxl: $margin-xl * $scale !global;
}
