////
/// Radius scale
///
/// Sets global radiuses values
///
/// @group   Mixins
/// @version 0.1.0
/// @link    https://github.com/TangoMan75/Stripped
////

@mixin radius-scale($radius-base, $scale) {
	$radius-xxl: $radius-base !global;
	$radius-xl:  $radius-xxl / $scale !global;
	$radius-lg:  $radius-xl / $scale !global;
	$radius-md:  $radius-lg / $scale !global;
	$radius-sm:  $radius-md / $scale !global;
	$radius-xs:  $radius-sm / $scale !global;
	$radius-xxs: $radius-xs / $scale !global;
}
