////
/// Padding scale
///
/// Sets global padding values
///
/// @group   Mixins
/// @version 0.1.0
/// @link    https://github.com/TangoMan75/Stripped
////

@mixin padding-scale($padding-base, $scale) {
	$padding-md:  $padding-base !global;

	$padding-sm:  $padding-md / $scale !global;
	$padding-xs:  $padding-sm / $scale !global;
	$padding-xxs: $padding-xs / $scale !global;

	$padding-lg:  $padding-md * $scale !global;
	$padding-xl:  $padding-lg * $scale !global;
	$padding-xxl: $padding-xl * $scale !global;
}
