////
/// Header layout
///
/// @version 0.1.0
/// @group   Layout
/// @link    https://gihub.com/TangoMan75/Stripped
////

/**
 * Header layout
 */
body {
	& div:first-of-type > header:first-of-type,
	& > header:first-of-type {
		display:         flex;
		flex-direction:  column;
		/* Flex-box vertical alignment */
		align-items:     center;
		justify-content: space-around;
		text-align:      center;
		& > * {
			/* Every header child has margin */
			max-width: 99%;
			margin: $margin-xs auto;
		}
	}
}
