////
/// Grid
///
/// @group Mixins
/// @version 1.2.0
/// @last-modified 15:18 25/09/2017
////

/// Allows for responsive columns according to parent width
@mixin cols($gutter) {
	@for $i from 1 through 12 {
		.width-xs-#{$i} {
			width: (100% / 12 * $i) - ($gutter / 2);
		}
	}

	@media (min-width: $screen-xs +1) {
		@for $i from 1 through 12 {
			.width-sm-#{$i} {
				width: (100% / 12 * $i) - ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-sm +1) {
		@for $i from 1 through 12 {
			.width-md-#{$i} {
				width: (100% / 12 * $i) - ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-md +1) {
		@for $i from 1 through 12 {
			.width-lg-#{$i} {
				width: (100% / 12 * $i) - ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-lg +1) {
		@for $i from 1 through 12 {
			.width-xl-#{$i} {
				width: (100% / 12 * $i) - ($gutter / 2);
			}
		}
	}
}

/// Allows for responsive elements height according to device viewport height
@mixin rows() {
	@for $i from 1 through 12 {
		.height-xs-#{$i} {
			min-height: (100vh / 12 * $i);
		}
	}

	@media (min-height: $screen-xs +1) {
		@for $i from 1 through 12 {
			.height-sm-#{$i} {
				min-height: (100vh / 12 * $i);
			}
		}
	}

	@media (min-height: $screen-sm +1) {
		@for $i from 1 through 12 {
			.height-md-#{$i} {
				min-height: (100vh / 12 * $i);
			}
		}
	}

	@media (min-height: $screen-md +1) {
		@for $i from 1 through 12 {
			.height-lg-#{$i} {
				min-height: (100vh / 12 * $i);
			}
		}
	}

	@media (min-height: $screen-lg +1) {
		@for $i from 1 through 12 {
			.height-xl-#{$i} {
				min-height: (100vh / 12 * $i);
			}
		}
	}
}

/// Allows for responsive columns calculated according to sceen width
@mixin squares($gutter) {
	@for $i from 1 through 12 {
		.square-xs-#{$i} {
			$size         : (100vw / 12 * $i) - ($gutter / 2);
			width         : $size;
			height        : $size;
			margin-bottom : 1vw * ($gutter / 2);
		}
	}

	@media (min-width: $screen-xs +1) {
		@for $i from 1 through 12 {
			.square-sm-#{$i} {
				$size         : (100vw / 12 * $i) - ($gutter / 2);
				width         : $size;
				height        : $size;
				margin-bottom : 1vw * ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-sm +1) {
		@for $i from 1 through 12 {
			.square-md-#{$i} {
				$size         : (100vw / 12 * $i) - ($gutter / 2);
				width         : $size;
				height        : $size;
				margin-bottom : 1vw * ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-md +1) {
		@for $i from 1 through 12 {
			.square-lg-#{$i} {
				$size         : (100vw / 12 * $i) - ($gutter / 2);
				width         : $size;
				height        : $size;
				margin-bottom : 1vw * ($gutter / 2);
			}
		}
	}

	@media (min-width: $screen-lg +1) {
		@for $i from 1 through 12 {
			.square-xl-#{$i} {
				$size         : (100vw / 12 * $i) - ($gutter / 2);
				width         : $size;
				height        : $size;
				margin-bottom : 1vw * ($gutter / 2);
			}
		}
	}
}
