////
/// Unselectable
///
/// Makes elements unselectable
/// @version 0.1.0
/// @group Mixins
////

@mixin unselectable() {
	user-select:       none;
	-webkit-user-drag: none;
	user-drag:         none; 
}
