////
/// pre layout
///
/// @version 0.1.0
/// @group   Layout
/// @link    https://gihub.com/TangoMan75/Stripped
////

/**
 * pre layout
 */
pre {
	margin:      $margin-md $margin-xxl;
	padding:     $padding-md $padding-md $padding-md $padding-xxl;
	text-align:  left;
	/* Lines may break between any two letters. */
	word-break:  break-all;
	/* Allows unbreakable words to be broken. */
	word-wrap:   break-word;
	/* Allows pre to wrap overflowing text */
	white-space: pre-wrap;
}
