////
/// Intoview animation
///
/// @group Animations
/// @version 0.1.0
////

.intoview {
	animation  : 1s intoview;
	animation-timing-function : cubic-bezier(0, 1, .5, 1);
}

@keyframes intoview {
	from {
		position : relative;
		top      : 100vh;
		left     : -100vw;
	}
	to {
		position : relative;
		top      : 0px;
		left     : 0px;
	}
}
