////
/// Typography
///
/// @version 0.1.0
/// @group Theme
////

body {
	font-family: $sans-serif;
	line-height: $line-height-base;
	color:       $night-rider;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: $line-height-base;
	color:       $matterhorn;
}

@include typography();

code,
kbd,
pre,
samp {
	font-family: $monospace;
}

pre,
samp {
	color: $matterhorn;
}
