////
/// Borders
///
/// @group   Variables
/// @link    https://github.com/TangoMan75/Stripped
/// @version 0.1.0
////

// Border Style
$border-style-abbr:    1px dotted $primary;
$border-style-aside:   2px dashed $very-light-grey;
$border-style-default: 1px solid $very-light-grey;
$border-style-footer:  1px solid white;
$border-style-hr:      4px solid $primary;
$border-style-input:   1px solid $info;
$border-style-pre:     4px solid $primary;
